<!doctype html>

<html lang="en-US">

  <head>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="Author" content="www.crowlventures.com" />
    
    <title><%= data.site.title %></title>
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="stylesheets/modern-business.css" rel="stylesheet">

  </head>

  <body>

    <%= partial "partials/navbar" %>
    <%= yield %>
    <%= partial "partials/footer" %>
   
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="javascripts/modern-business.js"></script>
    
  </body>

</html>
