<!doctype html>

<html lang="en-US">

  <head>
    <%= partial "partials/header" %>
  </head>

  <body>

    <%= partial "partials/navbar" %>

    <%= yield %>

    <%= partial "partials/footer" %>
   
  </body>

</html>
