
<div class="row">
  <div class="col-md-8">
    <p><%= data.company.about.text %></p>
  </div>
  <div class="col-md-4">
    <img class="img-responsive" src="<%= data.company.about.image %>">
  </div>
</div>
