
<div class="panel panel-default bootcards-media">
  
  <div class="panel-heading">
    <h3 class="panel-title">Saturday Night Bazaar</h3>
  </div>
  
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
	<img class="img-responsive img-portfolio img-hover" src="http://placehold.it/350x200" alt="">
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <tbody>
	<tr><td>Location</td><td>Arpora, Goa, India</td></tr>
	<tr><td>Days open</td><td>Only Saturdays</td></tr>
	<tr><td>Time</td><td>6 p.m. - Midnight</td></tr>
      </tbody>
    </table>
  </div>
  


  <div class="panel-footer">
    <small class="pull-left">See more details</small>
  </div>
  
  </div>
