
<% 
   title_main = title_main.nil? ? title : title_main 
   btype = btype.nil? ? "" : btype
   icon = icon.nil? ? "nil" : icon
%>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      <%= title_main %>
      <% if(icon != "nil") %>
      <i class="<%= icon %>"></i>
      <% end %>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <% if(btype == "services") %><li><a href="/services">Services</a></li><% end %>
      <% if(btype == "solutions") %><li><a href="/solutions">Solutions</a></li><% end %>
      <li class="active"><%= title %></li>
    </ol>
  </div>
</div>



