
<section class="util-row">
  <div class="container text-center">
    
    <header data-animation="bounceIn">
      <h1 class="no-text-transform italic">Only one step to work together</h1>
    </header>
    
    <article class="text-center">
      <h2>1-800-555-12345</h2>
      <p>CALL ME NOW - or - <a href="#contact" class="scrollTo">MESSAGE ME</a></p>
    </article>
    
  </div>
</section>
