<footer>

  <div class="section-colored">
    <div class="container">
      <div class="row>">

	<div class="col-sm-12 col-md-8 text-left">
	  <a href="/">Home</a> - <a href="/solutions">Solutions</a> - <a href="/services">Services</a> - <a href="/career">Career</a> - <a href="/about">About</a> - <a href="/team">Team</a> - <a href="/values">Values</a> - <a href="/contact">Contact</a>
	</div>
	
	<div class="col-sm-12 col-md-4 text-right">
	  <div class="row"><div class="col-md-12"><%= partial "partials/social" %></div></div>
	  <div class="row"><div class="col-md-12"><%= data.site.copyright %></div></div>
	  <div class="row"><div class="col-md-12"><small><%= data.site.credit %></small></div></div>
	</div>
	
      </div>
    </div>
  </div>

</footer>
