<footer>

  <div class="section-colored">
    <div class="container">
      <div class="row">
	
	<div class="col-sm-12 col-md-9 text-left">
	  <div class="row">
	    <div class="col-md-10">
	      <a href="/">Home</a> - 
	      <a href="/solutions">Solutions</a> - 
	      <a href="/services">Services</a> - 
	      <a href="/career">Career</a> - 
	      <a href="/about">About</a> - 
	      <a href="/team">Team</a> - 
	      <a href="/values">Values</a> - 
	      <a href="/contact">Contact</a>
	    </div>
	    <div class="col-md-12">
	      <p><%= partial "partials/social" %></p>
	    </div>
	    <div class="col-md-12">
              <p><%= data.site.copyright %></p>
	    </div>
	    <div class="col-md-12">
              <p><small><%= data.site.credit %></small></p>
	    </div>
	  </div>
	</div>
	
	<div class="col-sm-12 col-md-2 text-left">
	  <div class="row">
	    <div class="col-md-12">
	      <img class="img-responsive" src="<%= data.site.brand %>">
	    </div>
	  </div>
	</div>
	
      </div>
    </div>
  </div>
	  

</footer>
