
<footer>
  <div class="section-colored">
    <div class="container">
      <div class="row">

      </div>
      <div class="row">
	<div class="col-md-3 text-plain text-left"><%= data.site.copyright %></div>
	<div class="col-md-6 text-center"><%= partial "partials/social" %></div>
	<div class="col-md-3 text-plain text-right"><small><%= data.site.credit %></small></div>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/javascripts/fleabazaar.js"></script>
    
