
<footer>
  
  <a href="#toTop" class="fa fa-arrow-up toTop"></a>
  
  <div class="container">
    
    <div class="row">
      
      <div class="col-md-6 copyright">
	<strong><%= data.site.copyright %></strong>
      </div>
      
      <div class="col-md-6 text-right copyright">
	<strong><%= data.site.credit %></strong>
      </div>
      
    </div>
    
  </div>

</footer>

