
<footer>

<br><br><br>

<div class="section-colored text-center">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li><a href="/">Home</a></li>
      <li><a href="/solutions">Solutions</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/team">Team</a></li>
      <li><a href="/values">Values</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-sm-8 text-left"
        <p><%= data.site.copyright %></p>
      </div>
      <div class="col-sm-4 text-right">
        <p class="text-right"><small><%= data.site.credit %></small></p>
      </div>
    </div>
  </div>
</div>

</footer>
