
<div class="container">

  <div class="row">
  
    <div class="col-lg-12">
      <h1 class="page-header"><%= data.home.welcome %></h1>
    </div>
  
    <% for highlight_id in data.home.highlights.keys %>
    <%
       name = data.home.highlights[highlight_id].name
       icon = data.home.highlights[highlight_id].icon
       image = data.home.highlights[highlight_id].image
       detail = data.home.highlights[highlight_id].detail
    %>
    <div class="col-lg-4 col-md-4">
      <div class="panel panel-default">
	<div class="panel-heading">
          <h4><i class="<%= icon %>"></i> <%= name %></h4>
	</div>
        <div class="panel-body">
	  <%= detail %>
	</div>
      </div>
    </div>
    <% end %>
    
  </div>

</div>


