
<section id="home" class="full-screen">
  
  <div id="slider">
    
    <% if(data.home.slider.keys.size > 1) %>
    <nav class="slides-navigation">
      <a class="prev" href="#"></a>
      <a class="next" href="#"></a>
    </nav>
    <% end %>
    
    <ul class="slides-container">
      
      <% for slide_id in data.home.slider.keys %>
      <%
	 text_main = data.home.slider[slide_id].text_main
	 text_sec = data.home.slider[slide_id].text_sex
	 image = data.home.slider[slide_id].image
      %>

      <li>

	<div class="image-caption">
	  <hr/><hr/>
	  <div class="inner">
	    <h2 class="bigtext strtoupper nomargin"><%= text_main %></h2>
	  </div>
	  <hr/><hr/>
	</div>

	<span class="overlay"></span>

	<div style="background-image: url('<%= image %>');" class="fullscreen-img"></div>

      </li>

      <% end %>

    </ul>
    
  </div>
  
</section>

