
<header id="header">
  
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"><!-- add "wihite" class for white nav bar -->
    <div class="container">
      
      <!-- Mobile Menu Button -->
      <button id="mobileMenu" class="fa fa-bars" type="button" data-toggle="collapse" data-target=".navbar-collapse"></button>
      
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
	<a class="navbar-brand scrollTo" href="#home">
	  <img src="<%= data.site.brand_image %>" alt="" height="50" /> 
	  <!--
	      Span class:
	      - dark
	      - white
	      - styleColor (if you select "green" style color, the color will be green).
	      
	      You can combine them 
	      Example:
	      <span class="white">ISIS</span><span class="styleColor">ONE</span>
	      -->
	  <% if(data.site.brand_text != "nil") %>
	  <span class=""><%= data.site.brand_text %></span>
	  <% end %>
	</a>
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	
	<!-- Fullscreen Button - Unavailable for IE -->
	<a href="#" class="btn-fullscreen"><i class="fa fa-external-link"></i></a>
	
	<ul class="nav navbar-nav navbar-right">
	  <li><a href="#home" class="scrollTo">Home</a></li>
	  <li class="dropdown">
	    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Company <b class="caret"></b></a>
	    <ul class="dropdown-menu custom-navbar-menu">
	      <li><a href="#about" class="scrollTo">About</a></li>
	      <li><a href="#team" class="scrollTo">Team</a></li>
	      <li><a href="#value-box" class="scrollTo">Values</a></li>
	    </ul>
	  </li>
	  <li><a href="#work" class="scrollTo">Solutions</a></li>
	  <li><a href="#services" class="scrollTo">Services</a></li>
	  <li><a href="#contact" class="scrollTo">Contact</a></li>
	</ul>
      </div><!-- /.navbar-collapse -->
      
    </div>
  </nav>
  
</header>
