
<section id="services">
  
  <header class="text-center">
    <h1>SERVICES</h1>
  </header>
  
  <div class="divider"><!-- lines divider --></div>
  
  <div class="inner-cover" style="background-image:url('assets/images/preview/slider/3.jpg')">
    
    <!--
	Optional - raster or overlay backgrounds, for brighten images.
	<span class="raster"></span>
	
	Default overlay: black, opacity 0.5
	Gray overlay: #212121 , opacity 0.9
	Remove 'gray' class for default overlay
	
	<span class="overlay gray"></span>
	-->
    <span class="overlay gray"></span>
    
    
    <div class="container text-center">
      
      <ul class="services animate_from_bottom">
	<li><!-- service 1 -->
	  <a href="#service-1" class="service yellow scrollTo">
	    <i class="icon-globe"></i>
	    <h3>Corporate Identity</h3>
	  </a>
	</li>
	
	<li><!-- service 2 -->
	  <a href="#service-2" class="service orange scrollTo">
	    <i class="icon-eye"></i>
	    <h3>Graphic Design</h3>
	  </a>
	</li>
	
	<li><!-- service 3 -->
	  <a href="#service-3" class="service mauve scrollTo">
	    <i class="fa fa-code"></i>
	    <h3>Development</h3>
	  </a>
	</li>
	
	<li><!-- service 4 -->
	  <a href="#service-4" class="service green scrollTo">
	    <i class="icon-videocam"></i>
	    <h3>Video</h3>
	  </a>
	</li>
	
	<li><!-- service default -->
	  <a href="#service-4" class="service scrollTo">
	    <i class="fa fa-smile-o"></i>
	    <h3>Default</h3>
	  </a>
						</li>
      </ul>
      
      <div class="services-nav">
	<a id="service-prev" href="#"><i class="fa fa-chevron-left"></i></a>
	<a id="service-next" href="#"><i class="fa fa-chevron-right"></i></a>
      </div>
      
    </div>
  </div>
  
  
  <!--
      BOOTSTRAP GRID USED
      http://getbootstrap.com/css/#grid
    -->
  
  <!-- service 1 -->
  <article id="service-1" class="container service-desc animate_fade_in">
    <div class="row">
      <div class="col-xs-12 col-md-3 text-left">
	<h3><i class="yellow fa fa-stop"></i> Corporate Identity</h3>
      </div>
      <div class="col-xs-6 col-md-3 text-left">
	<ul>
	  <li>Naming</li>
	  <li>Logo design</li>
	  <li>Brandbooks</li>
	</ul>
      </div>
      <div class="col-xs-6 col-md-6 text-left">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.</p>
      </div>
    </div>
  </article>
  
  <!-- service 2 -->
  <article id="service-2" class="container service-desc animate_fade_in">
    <div class="row">
      <div class="col-xs-12 col-md-3 text-left">
	<h3><i class="orange fa fa-stop"></i> Graphic Design</h3>
      </div>
      <div class="col-xs-6 col-md-6 text-left">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.</p>
      </div>
      <div class="col-xs-6 col-md-3 text-right">
	<ul>
	  <li>2D &amp; 3D Animation</li>
	  <li>TV Spots</li>
	  <li>Corporate videos</li>
	</ul>
      </div>
				</div>
  </article>
  
  <!-- service 3 -->
  <article id="service-3" class="container service-desc animate_fade_in">
    <div class="row">
      <div class="col-xs-12 col-md-3 text-left">
	<h3><i class="mauve fa fa-stop"></i> Development</h3>
      </div>
      <div class="col-xs-12 col-md-9 text-left">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Etiam suscipit nisl eget lorem pellentesque quis iaculis mi mattis.</p>
      </div>
    </div>
  </article>

  <!-- service 4 -->
  <article id="service-4" class="container service-desc animate_fade_in">
    <div class="row">
      <div class="col-xs-12 col-md-3 text-left">
	<h3><i class="green fa fa-stop"></i> Video</h3>
      </div>
      <div class="col-xs-6 col-md-3 text-left">
	<ul>
	  <li>2D &amp; 3D Animation</li>
	  <li>TV Spots</li>
	  <li>Corporate videos</li>
	</ul>
      </div>
      <div class="col-xs-4 col-md-3 text-left">
	<ul>
	  <li>Adverts</li>
	  <li>Packaging design</li>
	  <li>Stands &amp; Rollups</li>
	</ul>
      </div>
      <div class="col-xs-4 col-md-3 text-left">
	<ul>
	  <li>Adverts</li>
	  <li>Packaging design</li>
	  <li>Stands &amp; Rollups</li>
	</ul>
      </div>
    </div>
  </article>
  
</section>
