
<section id="services">
  
  <header class="text-center">
    <h1><%= data.service.title %></h1>
  </header>
  
  <div class="divider"></div>

  <div class="inner-cover" style="background-image:url('<%= data.service.background %>')">
  
    <span class="overlay gray"></span>

    <div class="container text-center">
      
      <ul class="services">

	<% for service_id in data.service.services.keys %>
	<%
	   icon = data.service.services[service_id].icon
	   title = data.service.services[service_id].title
        %>
	<li>
	  <a href="#service-1" class="service yellow scrollTo">
	    <i class="<%= icon %>"></i>
	    <h3><%= title %></h3>
	  </a>
	</li>
	<% end %>

      </ul>

    </div>
    
  </div>
  
</section>
