

<div class="list-group">
    <a href="/about" class="list-group-item">About</a>
    <a href="/team" class="list-group-item">Team</a>
    <a href="/values" class="list-group-item">Values</a>
    <a href="/contact" class="list-group-item">Contact</a>
</div>

