
<div class="list-group">
    <a href="/about" class="list-group-item <%= (active_tab=='about') ? 'active' : '' %>"><i class="fa fa-institution"></i>&nbsp;About</a>
    <a href="/team" class="list-group-item <%= (active_tab=='team') ? 'active' : '' %>"><i class="fa fa-users"></i>&nbsp;Team</a>
    <a href="/values" class="list-group-item <%= (active_tab=='values') ? 'active' : '' %>"><i class="fa fa-check"></i>&nbsp;Values</a>
    <a href="/contact" class="list-group-item <%= (active_tab=='contact') ? 'active' : '' %>"><i class="fa fa-envelope"></i>&nbsp;Contact</a>
</div>

