
<div class="list-group">
    <a href="/about" class="list-group-item <%= (active_tab=='about') ? 'active' : '' %>">About</a>
    <a href="/team" class="list-group-item <%= (active_tab=='team') ? 'active' : '' %>">Team</a>
    <a href="/values" class="list-group-item <%= (active_tab=='values') ? 'active' : '' %>">Values</a>
    <a href="/contact" class="list-group-item <%= (active_tab=='contact') ? 'active' : '' %>">Contact</a>
</div>

