
<div class="container">
  
  <div class="row">
    
    <div class="col-md-12 text-center">
      <h1>Oops, 404!</h1>
    </div>

    <div class="col-md-12 text-center">
      <h3>The page you were looking for could not be found!</h3>
    </div>

    <div class="col-md-12 text-center">
      <h4>Go to our <a href="/">homepage</a></h4>
    </div>

  </div>
  
</div>
  
