
<div class="container">
  
  <div class="row">
    
    <br></br>

    <div class="col-md-12 text-center">
      <h1 style="font-size:100px;">Oops, 404!</h1>
    </div>

    <div class="col-md-12 text-center">
      <h3>Sorry, The page you were looking for could not be found!</h3>
    </div>

    <div class="col-md-12 text-center">
      <h4>Go to <a href="/">Home</a>, <a href="/solutions">Solutions</a>, <a href="/services">Services</a>, <a href="/contact">Contact</a></h4>
    </div>

  </div>
  
</div>
  
