
<div class="container">

  <%= partial "partials/breadcrumbs", 
      :locals => { :title_main => data.company.title, :title => data.company.about.title, :tagline => data.company.about.tagline }  %>

  <div class="row">
    <div class="col-md-2">
      <%= partial "partials/sidebar" %>
    </div>
    <div class="col-md-10">
      <h2><%= data.company.about.title %></h2>
      <%= partial "partials/about" %>
    </div>
  </div>
  
</div>
