
<div class="container">

  <%= partial "partials/breadcrumbs", 
      :locals => { :title_main => data.company.title, :title => data.company.contact.title, :tagline => data.company.contact.tagline }  %>

  <div class="row">
    <div class="col-md-2">
      <%= partial "partials/sidebar" %>
    </div>
    <div class="col-md-10">
      <h2><%= data.company.contact.title %></h2>
      <%= partial "partials/contact" %>
    </div>
  </div>
  
</div>
