
<div class="container">

  <%= partial "partials/breadcrumbs", :locals => { :title => data.solution.title, :tagline => data.solution.tagline }  %>

  <div class="row">
    <% for solution_id in data.solution.solutions.keys %>
    <%
       name = data.solution.solutions[solution_id].name
       image = data.solution.solutions[solution_id].image
       summary = data.solution.solutions[solution_id].summary
       link_tag = data.solution.solutions[solution_id].link_tag
    %>
    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <span class="fa-stack fa-5x">
          </span>
        </div>
        <div class="panel-body">
          <h4><%= name %></h4>
          <p><%= summary %></p>
          <a href="#" class="btn btn-primary"><%= link_tag %></a>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
