
<div class="container">

  <%= partial "partials/breadcrumbs", 
      :locals => { :title_main => data.company.title, :title => data.company.Values.title, :tagline => data.company.Values.tagline, :icon => "fa fa-building" }  %>

  <div class="row">
    <div class="col-md-2">
      <%= partial "partials/sidebar", :locals => {:active_tab => 'values'} %>
    </div>
    <div class="col-md-10">
      <h2><i class="fa fa-check"></i> <%= data.company.Values.title %></h2>
      <%= partial "partials/values" %>
    </div>
  </div>
  
</div>
